body
{
	background-image: url("../images/arriere-bg.jpg");	
    background-size: 1448px 738px;
    background-repeat: repeat-y;
    background-position: fixed;
    color: rgb(247, 8, 8);
}
::-webkit-input-placeholder {
	  color: red !important;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: red;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: red;  
	}

	:-ms-input-placeholder {  
	   color: red;  
	}
.page-header
{
	border-bottom: 1px solid #F70808;
}
.header-text
{
	  color: rgb(247, 8, 8);
	  font-weight: bold;
}
.page-footer
{
	margin-bottom: 20px;
}
.footer-text
{
	text-align: center;
	color: rgb(247, 8, 8);
}
.form-control
{
	box-shadow: inset -1px 0px 2px rgba(247, 8, 8, 10);
	background-color: none;
}
.form-group
{
	margin-bottom: 29px;
}
.form-data
{
	border-radius: 7%;
	padding: 30px 14px 30px 14px;
	background: none; 
	box-shadow: 0 0 0.5em 0.5em rgb(247, 8, 8);
	margin-top: 10%;
	margin-bottom: 10%;
}
.transparent-glyph
{
	background-color: none;
	color: rgb(247, 8, 8);
}
.input-group-addon
{
	background-color: #000000;
	border: 1px solid #5F0203;
}
.btn {
	-webkit-border-radius: 60;
	-moz-border-radius: 60;
	border-radius: 60px;
	text-shadow: 0px 1px 19px rgb(247, 8, 8);
	-webkit-box-shadow: 0px 0px 25px rgb(247, 8, 8);
	-moz-box-shadow: 0px 0px 25px rgb(247, 8, 8);
	box-shadow: 0px 0px 25px rgb(247, 8, 8);
	font-family: Georgia;
	color: rgb(247, 8, 8);
	font-size: 15px;
	padding: 8px 20px 8px 20px;
	text-decoration: none;
	background:none;
	margin-top: 18px;
}

.btn:hover {
	background: rgb(247, 8, 8);
	color: #000000;
}
input.transparent-input
{ 
	border:none !important
}
.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(247, 8, 8);
    border:none;
}
input:focus
{ 
    outline: none;
    border: 2px solid green !important;
    box-shadow: 0px 0px 8px #F10707;
}
.first-name
{
	width: 53%;
	margin-right: 5px;
	margin-bottom: 5px;
}
.middle-name
{
	width: 46%;
	margin-bottom: 5px; 
}
.label-text
{
	color: rgb(247, 8, 8);
}
.footer-divider
{
	border-top: 1px solid #F10707;
}
table
{
	border: 1px solid #EA1515;
}
.table-heading
{
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: none;
}