<!doctype html>
<html  ng-app="myApp">
	<head>
		<title>Bootstrap</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
		<style type="text/css">
			#firstTable,form{
				padding: 40px;
			}
			h3{
				padding-left: 40px !important;
			}
			.mytable{
				border: 8px solid #F5F2F2;
			}
			.header{
				  background: #F7F3F3;
  					border: 5px solid rgb(231, 226, 226);
			}
			.content{
				border: 4px solid rgb(232, 223, 223);
			}
			button{
				  background: rgb(42, 35, 35) !important;
 				 color: #fff !important;
			}
		</style>
	</head>
	<body ng-controller="myController">
		<div class="container">
			<div class="col-sm-12 header">
				<h1>Task Tracker</h1>
				<p class="text-muted">v2.0</p>
			</div>
			<div class="content clearfix">
				<div class="col-xs-6">
					<h3>Create Task</h3>
					<form>
					  <div class="form-group">
					    <label><b>Task Name</b></label>
					    <input type="text" class="form-control task-name" ng-model="taskname">
					  </div>
					  <div class="form-group">
					    <label><b>Date</b></label>
					    <input type="text" class="form-control date" ng-model="date">
					  </div>
					  <div class="form-group">
					    <label><b>Asigned To</b></label>
					    <input type="text" class="form-control asigned" ng-model="asigned">
					  </div>
					  <button type="button" class="btn btn-default btn-submit" ng-click="fnSubmitDetails()">Submit</button>
					</form>
				</div>
				<h3 class="col-xs-6">Existing Task</h3>
				<div class="col-xs-6">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Nmae</th>
								<th>Date</th>
								<th>Assigned</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="obj in myData">
								<td>{{obj.name}}</td>
								<td>{{obj.date}}</td>
								<td>{{obj.assigned}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript">
			var myApp = angular.module('myApp',[]);
			myApp.controller('myController',function($scope){
				$scope.myData =  [
						{"name": "Test Task #1", "date": "12/01/2012", "assigned": "John Doe" },
						{"name": "Test Task #2", "date": "12/02/2012", "assigned": "John Doe" },
						{"name": "Test Task #3", "date": "12/03/2012", "assigned": "John Doe" },
						{"name": "Test Task #4", "date": "12/04/2012", "assigned": "John Doe" },
						{"name": "Test Task #5", "date": "12/05/2012", "assigned": "John Doe" }
					];

				$scope.fnSubmitDetails = function(){
					$scope.myObj = {};
					$scope.myObj.name = $scope.taskname;
					$scope.myObj.date = $scope.date;
					$scope.myObj.assigned = $scope.asigned;
					console.log($scope.myObj);
					$scope.myData.unshift($scope.myObj);
				}
				//code
			});
		</script>
	</body>
</html>





 
