<!DOCTYPE html>
<html>
<head>
	<title>CSS</title>
	<link rel="stylesheet" type="text/css" href="../css/myfirstcss.css">
	<style type="text/css">
		.mypara{
			color:#fff;
			text-transform: capitalize;
			background: rgb(210, 40, 150);
			/*font-size:30px;*/
		}
		.mypara2{
			color:blue;
			font-size: 20px;
		}
		#mypara3{
			color:green;
			font-size: 30px;
		}
	</style>
</head>
<body>
	<!-- <p style="color:red;font-size:30px;">CSS Examples</p> -->
	<span class="mypara" >css examples</span>
	<p class="mypara2">CSS Examples1</p>
	<p id="mypara3">CSS paragraph example</p>
	<p class="mypara2">CSS paragraph example1</p>
</body>
</html>