<!DOCTYPE html>
<html>
<head>
	<title>CSS</title>
	<style type="text/css">
		.myfirstul{
			color: blue;
			list-style-type: circle;
		}
		.myliitem{
			color:red;
		}
		.mysecondpara{
			text-align: center;
		}
		.mythirdpara{
			text-align: right;
		}
		.mypara{
			color:#fff;
			background: #000;
		}
		.myh1,
		.myh2{
			color:red;
		}
	</style>
</head>
<body>
	<ul class="myfirstul">
		<li>list Item1</li>
		<li>list Item2</li>
		<li class="myliitem">list Item3</li>
		<li>list Item4</li>
		<li>list Item5</li>
	</ul>
	<p class="myfirstpara mypara">this is first paragraph</p>
	<p class="mysecondpara mypara">this is second paragraph</p>
	<p class="mythirdpara mypara">this is third paragraph</p>
	<h1 class="myh1">this is third paragraph</h1>
	<h2 class="myh2">this is third paragraph</h2>
</body>
</html>