<!doctype html>
<html>
 	<head>
 		<title>html</title>
 		<link rel="icon" href="../images/html_5_logo_128.png" sizes="32x32" type="image/png">
 	</head>
 	<body>
 		<p>this my paragraph</p>
 		<div>div tag</div>
 		<div>
 			<p>this is my para1</p>
 			<p>this is my para1</p>
 			<center><b>center tag</b></center>
 			<center><u>center tag</u></center>
 			<center><i>center tag</i></center>
 			<div>div1</div>
 			<div>div2</div>
 			<span>span1</span>
 			<span>span2</span>
 			<center><span>Bujjibabu</span><span><sub>B.tech</sub></span></center>
 			<center><span>Bujjibabu</span><span>1<sup>st</sup>class</span></center>
 		</div>
 		<a href="http://bujjibau.blogspot.in/" target="_blank">my blog</a>
 		<a href="http://bujjibau.blogspot.in/" target="_blank"><img src="../images/html_5_logo_128.png"/></a>
 	</body>
</html>
