<!doctype html>
<html>
	<head>
		<title>HTML Tags</title>
	</head>
	<body>
		<div>this is div </div>
		&lt;div&gt;this is div &lt;/div&gt;
		<xmp><div>this is div </div></xmp>
		<pre>this is           bujjibabu</pre>
		<h3>this is   &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; bujjibabu</h3>
		<div>
			<h4>unorderlist</h4>
			<ul>
				<li>list Item1</li>
				<li>list Item2</li>
				<li>list Item3</li>
				<li>list Item4</li>
				<li>list Item5</li>
			</ul>
			<h4>orderlist</h4>
			<ol>
				<li>list Item1</li>
				<li>list Item2</li>
				<li>list Item3</li>
				<li>list Item4</li>
				<li>list Item5</li>
			</ol>
		</div>
		<div>
			<p>
				input box: <input type="text" placeholder="Enter the value" size="30"/>
			</p>
			<p>
				Password: <input type="password" placeholder="Enter the password"/>
			</p>
			<p>
				textArea: <textarea placeholder="Enter the password"></textarea>
			</p>
			<p>
				CHECKBOX: <input type="checkbox" /> Terms
			</p>
			<p>
				Radio: <input type="radio" name="gen" /> Male <input type="radio" name="gen" /> Female
			</p>
			<p>
				select: <select>
							<option>Jan</option>
							<option>Feb</option>
							<option>March</option>
						</select>
						<select>
							<option>year</option>
							<option>1900</option>
							<option>2013</option>
						</select>
			</p>
			<p>
				Button: <input type="button" value="Login" /> 
			</p>
			<p>
				Button: <button>Login</button>
			</p>
			<p>
				progress: <progress value="10" max="100"></progress>
			</p>
			<p>
				Anchar:<a href="">Why do I need to provide my birthday? in facebook page</a>
			</p>
			<p>
				datalist:
				<form>
					<input TYPE="text" list="lisitems" name="list">
					<datalist id="lisitems">
						<option value="Apple">
						<option value="Ant">
						<option value="Bujji">
						<option value="Babu">
						<option value="Zoo">
						<option value="Cat">
						<option value="rat">
					</datalist>
				</form>
			</p>
			<abbr>this</abbr>
			<form>
				<input type="email" placeholder="email">
				<input type="number" step="10" value="100">
				<input type="date">
				<input type="month">
				<input type="time">
				<input type="datetime-local">
				<input type="color">
				<input type="range">
				<input type="search"/>
				<input type="url"/>
				<input type="file"/>
				<input type="submit" value="signUp">
			</form>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</body>
</html>