<!Doctype html>
<html>
	<head>
		<title>HTML Traing</title>
		<link rel="icon" href="../images/html_5_logo_128.png" sizes="32x32" type="image/png">
		<style type="text/css">
			td{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<center>
			<h2>Tables</h2>
		<table width="50%" border="5" cellspacing="2" cellpadding="5">
			<thead>
				<tr>
					<!-- <th>head1</th>
					<th>head2</th> -->
					<th colspan="4">head</th>
					<!-- <th>head3</th> -->
					<!-- <th>head4</th> -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="4">data</td>
					<td>data2</td>
					<td>data3</td>
					<td>data4</td>
				</tr>
				<tr>
					<!-- <td>data1</td> -->
					<td>data2</td>
					<td>data3</td>
					<td>data4</td>
				</tr>
				<tr>
					<!-- <td>data1</td> -->
					<td>data2</td>
					<td>data3</td>
					<td>data4</td>
				</tr>
				<tr>
					<!-- <td>data1</td> -->
					<td>data2</td>
					<td>data3</td>
					<td>data4</td>
				</tr>
				<tr>
					<td>data1</td>
					<td>data2</td>
					<td>data3</td>
					<td>data4</td>
				</tr>
			</tbody>
		</table>
	</center>
	<br/>
	</body>
</html>