<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="icon" href="../images/html_5_logo_128.png" sizes="16x16" type="image/png"> 
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="text-center">LogIn form</div>
				<div class="col-xs-12 col-sm-offset-2 col-sm-8">
					<button onclick="fnClick1()" class="btn btn-danger">onclick()</button>
					<button onmouseenter="fnClick2()" class="btn btn-success">onmouseenter()</button>
					<button onmouseout="fnClick3()" class="btn btn-primary">onmouseout()</button>
					<button onkeydown="fnClick4()" class="btn btn-info">onkeydoen()</button>
				</div>
		</div>
		<script type="text/javascript">
			var name = "bujji";
			var name1 = 'bujjibabu';
			var charpos = name.charAt(1);
			var charcodepos = name1.charCodeAt(4);
			console.log(charpos);
			console.log("charcodepos"+ charcodepos);
			console.log(name1.length);
			var x = 'bujji';
			var y = 'babu';
			var z = x + y;
			console.log(z);
			var indexpos = name.indexOf('i');
			var indexpos1 = name.indexOf('j');
			console.log(indexpos1);
			console.log(indexpos);
			//var match = name.match('i');
			//console.log('match : ' + match);

			var myString = 'please find where find occures';

			var pos = myString.indexOf('find');
			console.log("indexOf : "+pos);
			var lastpos = myString.lastIndexOf('find');
			console.log("lastpos :"+ lastpos);

			var search = myString.search('find');
			console.log('search : '+ search);

			
			var names = 'Apple, Banana, Kiwi';
			var slice = names.slice(7,13);
			console.log("slice : "+slice);

			var sliceall = names.slice(7);
			console.log("sliceall : "+sliceall);

			var nvslice = names.slice(-12,-6);
			console.log("slice native: " + nvslice);

		</script>
	</body>
</html>