<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="icon" href="../images/html_5_logo_128.png" sizes="16x16" type="image/png"> 
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="text-center">LogIn form</div>
				<div class="col-xs-12 col-sm-offset-2 col-sm-8">
					
				</div>
		</div>
		<script type="text/javascript">
			var myStringArray = ["bujji","pavan","mahesh","madhu","arya"];
			var sortingMyStringArray = myStringArray.sort();
			console.log("sortingMyStringArray :"+sortingMyStringArray);
			var reverseMystringArray = sortingMyStringArray.reverse();
			console.log("reverseMystringArray :"+reverseMystringArray);

			var myNumberArray = [1,13,23,45,100,4,5,-3];

			console.log("myNumberString :"+myNumberArray);
			var myNumberArraySort = myNumberArray.sort(function(a,b){return b-a});
			console.log(" myNumberArraySort:"+myNumberArraySort);
			var reversemyNumberArraySort = myNumberArraySort.reverse();
			console.log(" reversemyNumberArraySort:"+reversemyNumberArraySort);
			//1-13 = -12
			//1-23 = -22

			//var myNumberStringSort = myNumberString.sort();
			//console.log("myNumberStringSort :"+myNumberStringSort);

		</script>
	</body>
</html>