<!doctype html>
<html>
	<head>
		<title>Bootstrap</title>
		<link rel="icon" href="../images/html_5_logo_128.png" sizes="16x16" type="image/png"> 
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<div class="container">
			<div class="text-center">LogIn form</div>
				<!-- <div class="col-sm-4"></div> -->
				<div class="col-xs-12 col-sm-offset-4 col-sm-4 first-form">
					<p id="mypara">Create virtual rooms where your teams can work.And keep the work moving forward th video calling, group messaging, and the freedom to meet from anywhere</p>
					<button onclick="fnClick()">Click Here</button>
					<button onclick="fnClick1()">Click Here</button>
				</div>
		</div>
		<script type="text/javascript">
			var myname;
			function fnClick(){
				myname = 'bujjibabu'; //local variable
			}
			function fnClick1(){
				console.log(myname)
			}

			var res = 1+3;
			var res1 = 1+4+'3';
			var res2 = 1+'4'+3+2;
			//alert(res);
			//alert(res1);
			alert(res2);
		</script>
	</body>
</html>