<!doctype html>
<html>
	<head>
		<title>JS</title>
	</head>
	<body>
		<div>hello world</div>
		<script type="text/javascript">
			document.write('This is from javascript');
			//alert('this is bujjibabu');
			var a = 'bujjibabu';
			var A = 'mahesh';

			/*alert(a);
			alert(A); */

			//alert(A); 
			//alert(a);

			//var a = "bujjibabu";

			console.log(a);
			console.log(A);


			js datatypes
			1. numbers
			ex:12,34,12.45 etc...
			var x = 12;
			var x = 12.345;

			2.strings

			ex:'bujjibabu',"bujjibabu","23",

			"it's"
			3. var
			 var memory;
			 var x;
			 var a;

			 var x =10;
			 var y=20;
			 var z = x+y; 







		</script>
	</body>
</html>