<!DOCTYPE html>
<html>
<head>
	<title>Attributes</title>
</head>
<body>
<center><h1><img src="../images/HTML.jpg" align="middle" height="80" width="80"> Attributes</h1></center><hr>
<h2>The <i>align</i> attribute</h2>
<h3 align="right"> Printed on the Right</h3>
<h4 align="left"> Printed on the Left</h4>
<h5 align="center"> Printed in the Center</h5><hr>
<h2>The attributes for <i>Font</i></h2>
<p>
	There are <em>3</em> attributes for font:<br>
	<ul>
		<li>Color</li>
		<li>Face</li>
		<li>Size</li>
	</ul>
	<font color="red"> Red</font><br>
	<font face="Braggadocio,Machine"> The text should be in Braggadocio, Machine style or default style</font><br>
	<font size="7">I</font>ndia.
</p>
<hr align="center" width="50%" size="10px">
</body>
</html>