<!DOCTYPE html>
<html>
	<body background="../images/graypattern.jpg">
		<title>SHANMUGA S BUDDA</title>
			<head>
				<center>Welcome to <b>SHANMUGA S BUDDA's</b> homepage</center>
				<style>
					table,th,td
					{ 
						border: 2px solid black;
						border-collapse: collapse;
						padding: 7px;
						text-align: left;
					}
				</style>
				<link rel="icon" type="image/x-icon" href="/favicon.ico">
			</head>
				<center>
					<marquee bgcolor="#037" width="75%" behavior="alternate"> <font color="#FE9A2E">Address: 1234 E 56th Street, APT #12GE, Someland, OH 12345, USA.  Ph: +1 (xxx)xxx-xxxx</font></marquee>
				</center>
				<h1> Profile Photo</h1>
				<img src="../images/sri.jpg" width="350" height="250" title="SHANMUGA S BUDDA">
				<h1>Professional Summary</h1>
				<span>
					<hr>
						<p>Motivated and dedicated Electrical and Power Systems Engineering student with a keen understanding of the theoaries and applications of the High Power Electronics and Electrical System Design. Highly analytical with great attention to detail to troubleshoot systems and design innovative solutions to improve efficiency and reduce costs. A Collaborative team player with strong communicative and interpersonal skills.</p>
					<hr>
				</span>	
				<h1> Core Qualifications </h1>
				<table style="width:50%">
					<thead>
					<tr>
						<th colspan="2"> <center>List</center></th>
					<tr>
					</thead>
					<tbody>
						<td><li><a href="http://en.wikipedia.org/wiki/Electrical_engineering"> Electrical Engineering </a></td>
						<td><li><a href="http://en.wikipedia.org/wiki/MATLAB">MATLAB </a></td>
					</tr>
					<tr>
						<td><li><a href="http://en.wikipedia.org/wiki/Control_engineering">Control Systems Engineering </a></td>
						<td><li><a href="http://en.wikipedia.org/wiki/OrCAD#OrCAD_EE_PSpice">PSpice </a></td>
					</tr>
					<tr>
						<td><li><a href="http://en.wikipedia.org/wiki/Electric_power_system">Power Systems Operations </a></td>
						<td><li><a href="http://www.powerworld.com/">Power World Simulator </a></td>
					</tr>
					<tr>
						<td><li>Team Leadership </td>
						<td><li><a href="http://www.autodesk.com/products/autocad-electrical/overview">AutoCAD Electrical </a></td>
					</tr>
					<tr>
						<td><li>Reporting and Documentation</td>
						<td><li><a href="http://en.wikipedia.org/wiki/Microsoft_Office">Microsoft Office Suite </a></td>
					</tr>
					</tbody>
				</table>
	</BODY>
</html>