<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  	<style type="text/css">
  	.myform-title
  	{
  		background: yellow;
  		text-transform: uppercase;
  		text-align: center;
  		margin-top: 3%;
  		margin-left: 20%;
  		margin-right: 20%;
  		margin-bottom: 25%;
  		width: 60%;
  		padding: 6px;
  		border-style: solid;
  		border-width: 3px;
  	}
  	</style>
	<title>Registration Form</title>
</head>
<body>
	<form>
	<div class="myform-title">
		<h3><b>Registration Form</b></h3>
	</div>
	</form>
</body>
</html>