<!DOCTYPE html>
<html>
<title> Form Tag Practice </title>
	<body bgcolor="#66CCFF">
		<h1>
			<center>Registration Form</center>
		</h1>
		<form>
			<div>
					<div>
						<div>First Name</div><input type="text" placeholder="First Name" required />
        			</div>
        			<br>
        			<div>
        				<div>Last Name</div><input type="text" placeholder="Last Name" required/ >
        			</div>
        			<br>
        			<div>
        				<div>Email ID</div><input type="email" placeholder="abcd123@example.com" required/>
        			</div>
        			<br>
        			<div>
        				<div>Password</div><input type="password" placeholder="********" required/>
					</div>
					<br>
					<div>
						<div>Birth Date</div><input type="date" placeholder="mm/dd/yyyy" required/ >
					</div>
					<br>
					<div>
						<input type="radio" name="gender" required/><span> male </span>
						<input type="radio" name="gender" required/><span> female </span>
					</div>
					<br>
					<div>
						Occupation
						<select>
							<span>
							<option>Student</option>
							<option>Self Employed</option>
							<option>Employed</option>
							<option>Unemployed</option>
							</span>
						</select>	
					</div>
					<br>
					<div>
						<div>Comments</div><textarea rows="4" cols="50"></textarea>
					</div>
					<br>
					<div>
						<input type="checkbox" /required><span> I Agree and accept to the Terms and Conditions </span>
					</div>
					<br>
					<div>
						<input type="submit" value="Submit">
					</div>
					<br>				</div>
		</form>
	</body>
</html>
