<!DOCTYPE html>
<html>
<head>
	<title>Basic Tags Practice - HTML</title>
</head>
<body>
	<center>
	<h1><img src="F:\Coding\images\html-tags.png" align="middle" alt="HTML tags" height="75" width="125">&nbspBasic Tags Practice</h1>
	<marquee behavior="alternate" scrollamount="10" width="50%" bgcolor="yellow" vspace="5" hspace="5">Marquee tag rolls the text across the screen</marquee></center>
	<div>
	<hr>
	<h2>H2 - My font-size is &lt H1</h2>
	<h3>H3 - My font-size is &lt H2</h3>
	<h4>H4 - My font-size is &lt H3</h4>
	<h5>H5 - My font-size is &lt H4</h5>
	<h6>H6 - My font-size is &lt H5</h6>
	</div>
	<div>
	<hr>
	<h4>Paragraph Tag</h4>
	<p>
		This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.This is a paragraph.
	</p>
	<p>
		This is another paragraph. This is another paragraph. This is another paragraph.This is another paragraph. This is another paragraph. This is another paragraph.This is another paragraph. This is another paragraph. This is another paragraph.
	</p>
	</div>
	<div>
	<hr>
	<h4>Break tag</h4>
	This tag generates a line break.<br>
	Shanmuga Budda<br>
	+1(216)XXX-XXXX
	</div>
	<div>
	<hr>
	<h4>Italics</h4>
	<p><i>This tag italicizes the text</i></p>
	</div>
	<hr>
	<h4>Big and Small tags</h4>
	This is <big>big</big> tag.<br>
	This is <small>small</small> tag.
	<hr>
	<h4>Strike tag</h4>
	This tag is used to <Strike>Strike</Strike> the data.
	<hr>
	<h4>Sub ans Sup tags</h4>
	X<sub>1</sub><sup>2</sup>+X<sub>1</sub><sup>2</sup>= 2X<sub>1</sub><sup>2</sup>
	<br><hr>
	<h4>Block Quote Tag</h4>
	<blockquote>
		This tag is used to create Horizontal white space within a line of text.
	</blockquote><hr>	
	<p>
	Composed with care by:
	<cite>&nbsp&nbspShanmuga S Budda</cite>
	</p>
</body>
</html>
