<! doctype <!DOCTYPE html>
<html>
<head>
	<title>angular js </title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">



</head>
<body>
<div class="container">
<div data-ng-init="Myname=' mahesh' ;number='941696196'">
<input type="text"  ng-model='Myname'>
</div>
<p> welcome {{Myname}} </p>
<p> mobile   {{number}}</p>
<p> mobile<span data-ng-bind="number"></span>
</p>
</div>
<script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript"></script>




</body>
</html>