<!DOCTYPE html>
<html>
<head>
	<title> </title>

<link rel="stylesheet"  href="../css/bootstrap.css">
<style type="text/css">
	

.bb-border{
				border: 1px solid red;
				margin-bottom: 10px;
			}


</style>


</head>
<body>
<div class="container">
<table class="table table-bordered">

<thead>
	<tr>
		<th> First Name</th>
		<th> Last Name</th>
		<th> Email</th>
	</tr>
</thead>
<tbody>
	<tr>
<td> challa</td>
<td> mahesh</td>
<td> ahsh@gmail.com</td>
</tr>

<tr>
<td> challa</td>
<td> madhu</td>
<td> madhul.com</td>
</tr>

<tr>
<td> challa</td>
<td>satyam</td>
<td> sayaml.com</td>
</tr>




</tbody>

</table>
</div>

<div class="container">

<table class="table table-striped">
<thead>
<tr> 
<th class="text-center"> first Name</th>
<th> Last Name</th>
<th> phone</th>
</tr>

<tr>
<td> mahesh</td>
<td> challa</td>
<td>85556</td>
</tr>
<tr>
<td> madhu</td>
<td> challa</td>
<td>0005255</td>
</tr>
<tr>
<td> satya</td>
<td> challa</td>
<td>785266222</td>
</tr>

</thead>
</table>


<div class="container">


<table class=" table table-bordered table-hover table-responsive ">
<thead>
	<tr class>
	<th class="text-center"> First name</th>
	<th class="text-cenetr"> last name</th>
	<th> phone number</th>
	</tr>
</thead>
<tbody>
	
<tr class=" text-center sucess">
<td> challa</td>
<td> mahesh</td>
<td>4131681</td>
</tr>
<tr class="text-center active">
<td> challa</td>
<td> madhu</td>
<td> 98416531</td>
</tr>

<tr class="text-center info">
<td> challa</td>
<td> jyothi</td>
<td> 5562252</td>
</tr>
<tr class="text-center warning">
<td> challa</td>
<td> sai</td>
<td> 0000558</td>
</tr>








</tbody>



</table>

</body>
</html>