<!doctype <!DOCTYPE html>
<html>
<head>
	<title> welocme to fb</title>

<link rel="icon" href="../images/fb.png" sizes="16x16"  type= "image" >
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
<style type="text/css">
.h1{

	font-size: 40px;
margin-right: 350px;
margin-left: 30px;
}

.in{
padding-right: 20px;
margin-right: 20px;


}
.ps{
	padding-right: 20px;
margin-right: 20px;
}

.text{
margin-top: 70px;
margin-right: 160px;
text-decoration:  
}
.h3{

font-size: 20px;
margin-left: 40px;
}

</style>

</head>
<body>
<div class= "col-md-12 " style ="background-color: #3b5998"  first>
<form class="form-inline" role="form">
						<p class=" form-group form-inline h1"  style="color:white"  > facebook  </p>  
						<div class="form-group">
						<label style="color:white">Email or phone</label>
						<input type="text" class="form in"  size="20" >
					</div>
					<div class="form-group">
						<label style="color:white">Password</label>
						<input type="password" class="form  ps"  size="20" >
					</div>
					<div class="text-center form-group"><button class="btn btn-primary">Log In</button></div>
				</form>

</div>



<div class="col-md-6" style="background-color: #edf0f5">

<h2 class="text"><strong> Connect with friends and the
world around you on Facebook.</strong></h2>

<br/>
<img class="img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851565_602269956474188_918638970_n.png" alt="" style="vertical-align: middle">  <span class="h3">  <strong> See photos and updates </strong></span>  <span> from friends in News Feed.</span>
<br/>
<br/>
<br/>
<br/>
<img class="img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xat1/t39.2365-6/851585_216271631855613_2121533625_n.png" alt="" style="vertical-align: middle"><span class="h3">  <strong> Share what's new  </strong></span>  <span> in your life on your Timeline.</span>
<br/>
<br/>
<br/>
<br/>
<img class="img" src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xap1/t39.2365-6/851558_160351450817973_1678868765_n.png" alt="" style="vertical-align: middle"><span class="h3">  <strong> Find more </strong></span>  <span>of what you're looking for with Graph Search.</span>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>




</div>

<div class="col-md-6" style="background-color: #edf0f5">
<h1> <strong> Sign Up</strong></h1>

<p> Its free and always will be. </p>

<input  type="text" placeholder="First Name " required>   <input type="text" placeholder="Last Name" required>

<br/>

<br>
<input type="text" placeholder="Email Or Mobile numbe" required size="45">
<br/>
<br/>
<input type="text" placeholder="Re Enter Email Or Phone number" required size="45">
<br/>
<br/>
<input type="password" placeholder="New Password" size="45" required>
<br/>
<br/>
<strong> <p>Birthday</p></strong>
<br/>


