<! Doctype html>
<html>
<title>IPL RESULTS 2015</title>
<link rel="icon"  href="DLF.jpg"sizes=" 32*32 " type="image">

<body bgcolor >
	

<center><H2><u>IPL 2015 Standings</u> </H2></center>


	<table border="2" width="100" align="center" cellspacing="0" cellpadding="30">
	<thead>
		<tr class="header">
			<td> Position</td>
			<td>Team</td>
			<td>Matches</td>
			<td>Won</td>
			<td>lost</td>
			<td>Points</td>


		</tr>



<tr>
	<td>1</td>
			<td><img src="..\html\images\7.jpg" width="50" height="50"/> CSK</td>
			<td>10</td>
			<td>7</td>
			<td>3</td>
			<td> 14</td>


		</tr>
<tr>
			<td>2</td>
			<td>RR</td>
			<td> 12</td>
			<td>6</td>
			<td>4</td>
			<td>14</td>


		</tr>
		<tr>
			
<td>3</td>
			<td>KKR</td>
			<td> 11</td>
			<td>6</td>
			<td>4</td>
			<td>13</td>

		</tr>
	



		<tr>
		<td>4</td>
			<td>RCB</td>
			<td> 10</td>
			<td>5</td>
			<td>4</td>
			<td>11</td>

		</tr>
	
<tr>
			<td>5</td>
			<td>SRH</td>
						<td> 10</td>
			<td>5</td>
			<td>5</td>
			<td>10</td>

		</tr>
	
<tr>
			<td>6</td>
			<td>MI</td>
			<td> 10</td>
						<td>5</td>
			<td>5</td>
			<td>10</td>

		</tr>
	
<tr>
			<td>7</td>
			<td>DD</td>
			<td> 11</td>
			<td>4</td>
			<td>7</td>
			<td>8</td>

		</tr>
	
<tr>
			<td>8</td>
			<td>KXIP</td>
			<td> 10</td>
			<td>2</td>
			<td>8</td>
			<td>4</td>

		</tr>
	

	

    


</thead>
     </table>




</body> 
</html>
