<!Doctype <!DOCTYPE html>
<html>
<head>
	<title>login form </title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">


</head>
<body>
<div class="conatiner">
<div class="text-center"> Login Form</div>
<div class="col-xs-12 col-sm-offset-4 col-sm-4 first-form">
<div class="form-group">
<label> User Name:</label>
<input type="text" class="form-control " id="username" placeholder="user name">
</div>
<div class="form-group"> 
<label>  password:</label>
<input type="password" class="form-control" id="password" placeholder="password">
</div>
<div class="text-center form-group"><button class=btn btn-default onclick="fnsing()"> sign in</button>
</div>
</div>
</div>
<script type="text/javascript">
	
function fnsingn(){

var usernanetxt=document.getElementById('username').value;
var password=document.getElementById('password').value;



}



</script>
</body>
</html>