<!doctpe <!DOCTYPE html>
<html>
<head>
	<title>all the html properties in 
	</title>
</head>
<body>
<p>  in html ,java script statements are </p>
<p id="demo"></p>
<script type="text/javascript">
	var x=10;

document.getElementById("demo").innerHTML=x;
var a=10;var b=20;var c=a+b;
document.getElementById("demo").innerHTML=c;

</script>



<script type="text/javascript">
	
var ele=" mahesh",last= "challa", city="guntur";
document.getElementById("demo").innerHTML=city;



function myfunction(a,b){


	retun a*b;
	

}


document.getElementById("demo").innerHTML=myfunction(5,8);

</script>
</body>
</html>