<!dctype <!DOCTYPE html>
<html> 
<head>
	<title>
		java script
	</title>
<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">

</head>
<body>
<div class="container" >

<div class="text-center"> Login Form</div>
<div class="col-xs-12 col-sm-offset-2 col-sm-8">

<button onclick="fnclick()"  class="btn btn-danger">onclick()</button>
<button onmouseenter="fnclick1()" class="btn btn-sucess">onmouseenter</button>

<button onmousedown="fnclick2()" class="btn btn-primary">onmousedown</button>

<button onmouseout="fnclick3()" class="btn btn-info">onmouseout</button>


<script type="text/javascript">
	
function fnclick(){

	console.log('on click function');


}


function fnclick1(){

	console.log('on mouse eneter function');
}


function fnclick2(){

	console.log('on mouse down');
}


function fnclick3(){

	console.log('on mouse out');
}


</script>


</body>
</html>