<!doctype <!DOCTYPE html>
<html>
<head>
	<title>

	</title>
</head>
<body>
<p> how to create a java script</p>

<p id="dem"></p>
<script type="text/javascript">
	
var employees=[{

"firstName":"mahesh",
"lastname":"challa",
},
{
"firstName":"challa",
"lastname":"madhu"

},
{
"firstName": "hai",
"lastname":"ch"

}
];
document.getElementById("dem").innerHTML=employees[0].firstName+" "+ employees[0].lastname;
document.getElementById("dem").innerHTML=employees[1].firstName;




</script>

</body>
</html>