<!doctype html>
<html>
<title>
	INTERSETS RATES 
</title>
<body>
<center>
<p> Interest rates for the year of 2014 </p>
<div> see the following table </div>
<table width="100"  cellspacing="0" cellpadding="10" align="center" border="2"> 
</center>
<thead>

<tr>
<th rowspan="2">instruments</th>
<th colspan="5">2014</th>
<th colspan="2">Weeak Ending</th>
<th rowspan="2">March2015</th>
</tr>

<tr>
<td>Apr15</td>
<td>Apr16</td>
<td>Apr17</td>
<td>Apr18</td>
<td>Apr19</td>
<td>Apr12</td>
<td>Aprl19</td>

</tr>
<tr>
<td> Fedral funds</td>
<td>1.52</td>
<td>1.87</td>
<td>2.5</td>
<td>1.95</td>
<td>3.5</td>
<td>2.78</td>
<td>1.45</td> 
<td>1.84</td>
</tr>
<tr>
<td> NON FINANCIAL PAPAER</td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>

<tr>
<td>1-month</td>
<td>1.52</td>
<td>1.28</td>
<td>2.57</td>
<td>0.45</td>
<td>1.2</td>
<td>0.36</td>
<td>1.06</td>
<td>3.87</td>
</tr>

<tr>
<td>2-month</td>
<td>3.52</td>
<td>5.28</td>
<td>2.57</td>
<td>2.45</td>
<td>1.2</td>
<td>1.45</td>
<td>1.06</td>
<td>2.85</td>
</tr>
<tr>
<td>3-month</td>
<td>0.52</td>
<td>1.85</td>
<td>5.45</td>
<td>1.2</td>
<td>7.8</td>
<td>1.05</td>
<td>0.85</td>
<td> 4.58</td>
</tr>

<tr>
<td>Finical Comercial paper </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
<td> </td>
</tr>
<tr>
<td>1-month</td>
<td>1.52</td>
<td>1.28</td>
<td>2.57</td>
<td>2.45</td>
<td>1.2</td>
<td>4.5</td>
<td>1.06</td>
<td>0.78</td>
</tr>

<tr>
<td>2-month</td>
<td>3.52</td>
<td>5.28</td>
<td>1.57</td>
<td>0.45</td>
<td>1.2</td>
<td>2.36</td>
<td>0.85</td>
<td>2.7</td>
</tr>
<tr>
<td>3-month</td>
<td>2.5</td>
<td>3.5</td>
<td>1.57</td>
<td>5.45</td>
<td>1.58</td>
<td>0.2</td>
<td>1.06</td>
<td>2.87</td>
</tr>

</thead>
 </table>
</body>
</html>
