<html>
	<head>
		<link rel="stylesheet" type="text/css" href="mystyle.css">
	</head>
	<body>
			<header>
			<h1 align="center">Event Registration Form</h1>
		</header>
		<div align="center">
			<form>
				<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="firstName"></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" name="lastName"></td>
				</tr>
				<tr>
					<td>Mailing Address</td>
					<td><input type="text" name="mailingAddress"></td>
				</tr>
				<tr>
					<td>City</td>
					<td><input type="text" name="city"></td>
				</tr>
				<tr>
					<td>State</td>
					<td><select></select></td>
				</tr>
				<tr>
					<td>Zip Code</td>
					<td><input type="text" name="zipCode"></td>
				</tr>
			</table>
			<footer>

			</footer>
			</form>
		</div>
	</body>

</html>