<!docType html>
	<head>
		<title>FavIcon</title>
		<link rel="icon" href="images/icon.jpg" type="image/jpg" sizes="32x32">
	</head>
	
	<body>
		<p>This is my paragraph</p>
		<i>Italic font</i>
		<p>next paragraph</p>
		<b><u>text in bold</u></b>
		hi, hello
		
		bye<br>
		<pre>hi, hello
		
		bye
		</pre>
		<abbr title="International Cricket Council">ICC</abbr>
		<br>
		<bdo dir=rtl>sample</bdo>
		<bdo dir=ltr>sample</bdo><br>
		subscript<sub>sb</sub><br>superscript<sup>sp</sup>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href=#></a>
	</body>
