<!doctype html>
<html>
	
	<body>
		<header align="center">
			<h1>User Registration Form</h1>
		</header>
		<form>
			<div align="center">
				<table>
					<tr>
						<td>First Name <input type="text" placeholder=" Enter First Name"></td> 
						<td>Last Name <input type="text" placeholder=" Enter Last Name"></td>
					</tr>
					<tr>
						<td><input type="email" placeholder=" Email" size="31"></td> 
						<td><input type="text" placeholder=" Mobile Number" size="31"></td>
					</tr>
					<tr>
						<td>User Name <input type="text" placeholder=" Enter User Name"></td>
						<td>Password <input type="password" placeholder=" Please enter password"></td>
					</tr>					
				</table>
				<label>Address: <textarea placeholder="Enter address"></textarea></label>
			</div>
			<p align="center">Gender <input type="radio" name="gender"> Male <input type="radio" name="gender"> Female</p>
			<div align="center">
				<p>Country <select>
							<option>India</option>
							<option>USA</option>
							<option>England</option>
							<option>Germany</option>
							<option>Australia</option>
						</select>
				</p>
				<p>Birthday <input type="date"></p>
				<p>Id Proof <input type="file"></p>
				<p>Terms and Conditions <input type="checkbox"> Yes, I Agree</p>
				<input type="submit" value="Sign-up">
			</div>
		</form>
	</body>
</html>