<!doctype html>
<html>
	<head>
		<title>JavaScript1</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<!--<p id="mypara">java script is used to do actions, events and ajax calls.</p>
		<div>JAVASCript Functions</div>
		<button onclick="func()">Click</button> -->

		<div class="text-center">BootStrap</div>
		<div class="container">
			<!--<form class="in-line col-lg-4 col-lg-offset-4">-->
				<div class="form-group">
					<label>Username</label>
					<input type="text" class="form-control" placeholder="Enter username" id="user">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control password1" placeholder="Enter password" id="pwrd" >
				</div>
				
				<div class="text-center form-group"><button class="btn btn-default" onclick="fnSignIn()">Sign In</button></div>
				<a href="javascript2.html" onclick="fnClick2()">clickhere</a>
				<div id="text"></div>
			<!--</form>-->
		</div>
		<script type="text/javascript">

			//var x = document.getElementById("user").value;
			//var y = document.getElementsByClassName("password").value;
			var x=null;
			function fnSignIn(){
				x = document.getElementById("user").value;
				//var y = document.getElementById("pwrd").value;
				//debugger;
				var z = document.getElementsByClassName("password1")[0].value;
				console.log("username is " + x);
				console.log("password is " + z);
				if(x&&z){
					document.getElementById("text").innerHTML = "<b class='text-success'>user successfully logged in</b>";
				}else{
					alert('please  fill the details');
				}


				//console.log(y);
			//alert("USERNAME IS "+x+" and PASSWORD is "+y );
		}

		/*function fnClick2(){

		}*/
		</script>
	</body>
</html>