<!doctype html>
<html>
	<head>
		<title>JavaScript2</title>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
	</head>
	<body>
		<form id="myform">
			First Name: <input type="text" id="myfn"><br>
			Last Name: <input type="text" id="myln"><br>
			<button onclick="myFunction()">submit</button><br>
			<p id="catch"></p>
		</form>

		<script type="text/javascript">

			function myFunction(){
				var x = document.getElementById("myform").elements.length;
				//document.getElementById("catch").innerHTML = x.length;
				document.getElementById("catch").innerHTML = "found " + x + " elements";
			}

		</script>
	</body>
</html>