<html style="background-color: white;">
	<head>
		<title>RegForm</title>
		<style type="text/css">
			.body1{
				border: 2px solid blue;
				margin-left: 448px;
    			margin-right: 431px;
    			background-color: violet;
			}
			/*.header{
				background-color: violet;
			}*/


		</style>
	</head>
	<body class="body1">
		<header class="header">
			<h2 align="center" class="h2" style="text-decoration: underline;">Registration Form</h2>
		</header>
		<div align="center">
		<form>
			
			<div>
				<table>
						<tr>
							<td>First name:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Last name:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Age:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>E-mail:</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input type="text"></td>
						</tr>
					</table>
			</div>
			<div>
				<p>SEX:: <input type="radio" name="sex"> Male <input type="radio" name="sex"> Female</p>
				<p> Checkbox: <input type="checkbox"> I am a student <input type="checkbox">I am a business man</p>
				<p>Birthday:</p>
				<p>
					Day: <select name="Day"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option>
					</select>
					Month: <select name="Month">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
					</select>
							 
					Year: <select name="1990">
						<option>1990</option>
						<option>1991</option>
						<option>1992</option>
						<option>1993</option>
						<option>1994</option>
						<option>1995</option>
						<option>1996</option>
						<option>1997</option>
						<option>1998</option>
						<option>1999</option>
						<option>2000</option>
						<option>2001</option>
						<option>2002</option>
						<option>2003</option>
						<option>2004</option>
						<option>2005</option>
						<option>2006</option>
						<option>2007</option>
						<option>2008</option>
						<option>2009</option>
						<option>2010</option>
						<option>2011</option>
						<option>2012</option>
						<option>2013</option>
						<option>2014</option>
						<option>2015</option>
					</select>
				</p>
				<p>Submit Button: <input type="submit" value="Submit"></p>
				<p>Rest Button: <input type="submit" value="Reset"></p>
			</div>
		</form>
		</div>
	</body>
</html>
