<!doctype html>
<html>
	<head>
		<title>Registration Form</title>
		<link rel="stylesheet" type="text/css" href="../css/shadowcss.css">
		<style type="text/css">
			/*.mydiv{
				background: red;
				width:50%;
			}*/

		</style>
	</head>
	<body>
		<header>
		<marquee class="marq">HTML</marquee>
		<div class="headerdiv">
			<!--<label class="lab">Select your network: </label>-->
			<ul class="menuitems">
				<p style="display:inline;font-size:20px;">Select your network:</p>
					<li>airtel</li>
					<li>bsnl</li>
					<li>vodafone</li>
					<li>idea</li>
					<li>uninar</li>
			</ul>
		</div>
		</header>
		<h1 class="myh1">TEXT SHADOW</h1>
		<div class="mydiv">This is very useful for a web developer to handle large size codes. Specifically talking about CSS code optimization, grouping selectors and using nesting selector can be very helpful in consuming less space.
		</div>
		<div>
			<h4>List of American Networks</h4>
			<ul class="ul1">
				<li>att</li>
				<li>verizon</li>
				<li>sprint</li>
				<li>t-mobile</li>
			</ul>
			<h4>List of Indian calling cards</h4>
			<ul>
				<li>indiald</li>
				<li>keku</li>
				<li>raza</li>
			</ul>
		</div>

		
	</body>
</html>