<html>
<head>
	<title>Tables</title>
	<style type="text/css">
		td{
			text-align: center;

		}
	</style>
</head>
<body>
	<center>
		<h2>Employee Table</h2>
		<table width="50%" border="1" cellspacing="0" cellpadding="5">
			<tr>
				<th>Employee Id</th>
				<th>Employee Name</th>
				<th>Country</th>
				<th>Mobile Number</th>
			</tr>
			<tr>
				<td>1</td>
				<td>Suresh</td>
				<td>India</td>
				<td>8686858587</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mahesh</td>
				<td>India</td>
				<td>9999999999</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Rehman</td>
				<td>Bangladesh</td>
				<td>7736376367</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
	</center>
	<center>
		<i>A test table with merged cells</i>
		<table width="50%" border="1" cellpadding="7" cellspacing="0">
			<tr>
				<th rowspan="2"></th>
				<th colspan="2">Average</th>
				<th rowspan="2">Red eyes</th>
			</tr>
			<tr>
				<th>height</th>
				<th>weight</th>
			</tr>
			<tr>
				<th>Males</th>
				<td>1.9</td>
				<td>0.003</td>
				<td>40%</td>
			</tr>
			<tr>
				<th>Females</th>
				<td>1.7</td>
				<td>0.002</td>
				<td>43%</td>
			</tr>
		</table>
	</center>
</body>
</html>