<!DOCTYPE html>
<html>
<head>
<title>New Page</title>
</head>
<body>
	<h1>This is heading 1</h1>
	<h2>This is heading 2</h2>
	<h3>This is heading 3</h3>
	<h4>This is heading 4</h4>
	<h5>This is heading 5</h5>
	<h6>This is heading 6</h6>
	<p>HTML page with heading, paragraph, image and link</p>
	<p><b> spaces and new lines are ignored</b></p>
	<br/>
	<a href="url">link text</a>
	<br/>
	<img src="../images/Smiley.jpg" alt="Smiley" width="140" height="142"/>
	<br>
	<form>
		User name:<br> <input type="text" name="userid">
		<br/>
		User password:<br> <input type="password" name="password">
		<br/>First Name:<br> <input type="text" name="First Name" value="Ramya">
		<br/>
		Last Name:<br> <input type="text" name="Last Name" value="Teja">
		<br>
		<input type="radio" name="sex" value="female">Female
		<br>
		<input type="radio" name="sex" value="male">Male
		<br>
		Birthday: <input type="date" name="bday">
		<br><input type="color">
		<br><input type="checkbox" value="submit with correct info">
		<br><input type="button" value="button">
		<br><input type="submit">
	</form>
</body>
</html>